<div>
    <h2 id="page-heading">
        <span>Springs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-spring" [routerLink]="['/spring/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Spring
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="springs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Star Date</span></th>
            <th><span>End Date</span></th>
            <th><span>Status</span></th>
            <th><span>Team</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let spring of springs ;trackBy: trackId">
                <td><a [routerLink]="['/spring', spring.id, 'view' ]">{{spring.id}}</a></td>
                <td>{{spring.name}}</td>
                <td>{{spring.starDate | date:'medium'}}</td>
                <td>{{spring.endDate | date:'medium'}}</td>
                <td>{{spring.status}}</td>
                <td>
                    <div *ngIf="spring.team">
                        <a [routerLink]="['../team', spring.team?.id, 'view' ]" >{{spring.team?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/spring', spring.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/spring', spring.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'spring', { outlets: { popup: spring.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
